# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mipt_tp_screamqueens\stats\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
